@charset "UTF-8";

.prt-result-detail .prt-reward-item .txt-treasure-title {
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/result/parts/deco_loot_collected.png')
    no-repeat center bottom;
  -webkit-background-size: 155px 26px;
  background-size: 155px 26px;
  width: 155px;
  height: 26px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 3px;
  margin: 0 auto;
  text-shadow: none;
  color: #f2eee2;
  font-weight: normal;
  font-size: 13px;
  text-indent: 17px;
}

.prt-result-detail .prt-reward-item .prt-item-list {
  letter-spacing: -0.4em;
  text-align: center;
}

.prt-result-detail .prt-reward-item .prt-item-list .lis-treasure {
  letter-spacing: normal;
  width: 54px;
  padding: 10px 2px 0 2px;
  position: relative;
  display: inline-block;
}

.prt-result-detail
  .prt-reward-item
  .prt-item-list
  .lis-treasure
  .prt-treasure-image {
  position: relative;
}

.prt-result-detail
  .prt-reward-item
  .prt-item-list
  .lis-treasure
  .prt-treasure-image
  .prt-quality:nth-child(3) {
  position: absolute;
  top: 0px;
  right: 3px;
  z-index: 30;
}

.prt-result-detail
  .prt-reward-item
  .prt-item-list
  .lis-treasure
  .prt-treasure-image
  .img-treasure-item {
  width: 54px;
}

.prt-result-detail
  .prt-reward-item
  .prt-item-list
  .lis-treasure
  .prt-treasure-image
  .ico-ex-skill,
.prt-result-detail
  .prt-reward-item
  .prt-item-list
  .lis-treasure
  .prt-treasure-image
  .ico-arousal-type {
  position: absolute;
  bottom: 14px;
  left: -3px;
  width: 18px;
}

.prt-result-detail
  .prt-reward-item
  .prt-item-list
  .lis-treasure
  .prt-treasure-image
  .prt-article-count {
  position: absolute;
  right: 3px;
  bottom: -2px;
  z-index: 10;
  color: #f2eee2;
  text-shadow: 0 0 2px #331000, 0 0 2px #331000, 0 0 2px #331000,
    0 0 2px #331000, 0 0 3px #331000, 0 0 3px #331000, 0 0 3px #331000,
    0 0 3px #331000;
  font-size: 16px;
}

.prt-result-detail
  .prt-reward-item
  .prt-item-list
  .lis-treasure
  .prt-treasure-image
  .prt-article-count
  .txt-small {
  font-size: 10px;
}

.prt-result-detail
  .prt-reward-item
  .prt-item-list
  .lis-treasure
  .ico-treasure-1-mini {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/result/parts-s602acb8323.png')
    no-repeat 0 -2162px;
  -webkit-background-size: 294px 2596px;
  background-size: 294px 2596px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: -4px;
  z-index: 10;
}

.prt-result-detail
  .prt-reward-item
  .prt-item-list
  .lis-treasure
  .ico-treasure-2-mini {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/result/parts-s602acb8323.png')
    no-repeat 0 -2276px;
  -webkit-background-size: 294px 2596px;
  background-size: 294px 2596px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: -4px;
  z-index: 10;
}

.prt-result-detail
  .prt-reward-item
  .prt-item-list
  .lis-treasure
  .ico-treasure-3-mini {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/result/parts-s602acb8323.png')
    no-repeat 0 -2208px;
  -webkit-background-size: 294px 2596px;
  background-size: 294px 2596px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: -4px;
  z-index: 10;
}

.prt-result-detail
  .prt-reward-item
  .prt-item-list
  .lis-treasure
  .ico-treasure-4-mini {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/result/parts-s602acb8323.png')
    no-repeat 0 -2185px;
  -webkit-background-size: 294px 2596px;
  background-size: 294px 2596px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: -4px;
  z-index: 10;
}

.prt-result-detail
  .prt-reward-item
  .prt-item-list
  .lis-treasure
  .ico-treasure-11-mini {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/result/parts-s506117cfa4.png')
    no-repeat 0 -2115px;
  -webkit-background-size: 294px 2663px;
  background-size: 294px 2663px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: -4px;
  z-index: 10;
}
.prt-result-detail
  .prt-reward-item
  .prt-item-list
  .lis-treasure
  .ico-treasure-13-mini {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/result/parts-s506117cfa4.png')
    no-repeat 0 -2424px;
  -webkit-background-size: 294px 2663px;
  background-size: 294px 2663px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: -4px;
  z-index: 10;
}

.prt-ultimate-star-on[data-level="210"] {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/evolution_star-s1fa502e63d.png') no-repeat 0 -25px;
  -webkit-background-size: 22px 417px;
  background-size: 22px 417px;
  width: 22px;
  height: 22px;
}

.prt-ultimate-star-on[data-level="220"] {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/evolution_star-s1fa502e63d.png') no-repeat 0 -75px;
  -webkit-background-size: 22px 417px;
  background-size: 22px 417px;
  width: 22px;
  height: 22px;
}

.prt-ultimate-star-on[data-level="230"] {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/evolution_star-s1fa502e63d.png') no-repeat 0 -100px;
  -webkit-background-size: 22px 417px;
  background-size: 22px 417px;
  width: 22px;
  height: 22px;
}

.prt-ultimate-star-on[data-level="240"] {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/evolution_star-s1fa502e63d.png') no-repeat 0 -125px;
  -webkit-background-size: 22px 417px;
  background-size: 22px 417px;
  width: 22px;
  height: 22px;
}

.prt-ultimate-star-on[data-level="250"] {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/evolution_star-s1fa502e63d.png') no-repeat 0 0;
  -webkit-background-size: 22px 417px;
  background-size: 22px 417px;
  width: 22px;
  height: 22px;
}