@charset "UTF-8";


.bonus_1 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -391px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_2 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -161px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_3 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -345px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_4 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -230px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_5 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -414px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_6 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -207px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_7 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -276px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_8 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -437px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_9 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -253px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_10 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -184px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_11 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -368px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_12 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -299px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_13 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -552px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_14 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -529px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_15 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -598px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_16 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -575px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_17 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -69px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_18 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -506px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_19 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -138px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_20 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -322px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_21 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -115px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_22 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -460px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_23 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -46px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_24 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -23px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_25 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -92px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_26 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -483px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_27 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 0;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_28 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -667px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_29 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -644px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.bonus_30 {
    display: block;
    background: url("../assets/image/common/extra-lb-bonus.png") no-repeat 0 -621px;
    -webkit-background-size: 20px 687px;
    background-size: 20px 687px;
    width: 20px;
    height: 20px
}

.prt-extra-lb-title {
    background: url("../assets/image/common/extra-lb.png") no-repeat 0 -487px;
    -webkit-background-size: 320px 951px;
    background-size: 320px 951px;
    width: 250px;
    height: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding-top: 4px;
}




