.ico-attribute-1 {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/icon/type-s59daeab27c.png')
    no-repeat 0 -497px;
  -webkit-background-size: 64px 574px;
  background-size: 64px 574px;
  width: 13px;
  height: 13px;
}

.ico-attribute-2 {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/icon/type-s59daeab27c.png')
    no-repeat 0 -561px;
  -webkit-background-size: 64px 574px;
  background-size: 64px 574px;
  width: 13px;
  height: 13px;
}

.ico-attribute-3 {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/icon/type-s59daeab27c.png')
    no-repeat 0 -462px;
  -webkit-background-size: 64px 574px;
  background-size: 64px 574px;
  width: 13px;
  height: 13px;
}

.ico-attribute-4 {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/icon/type-s59daeab27c.png')
    no-repeat 0 -513px;
  -webkit-background-size: 64px 574px;
  background-size: 64px 574px;
  width: 13px;
  height: 13px;
}

.ico-attribute-5 {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/icon/type-s59daeab27c.png')
    no-repeat 0 -545px;
  -webkit-background-size: 64px 574px;
  background-size: 64px 574px;
  width: 13px;
  height: 13px;
}

.ico-attribute-6 {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/icon/type-s59daeab27c.png')
    no-repeat 0 -529px;
  -webkit-background-size: 64px 574px;
  background-size: 64px 574px;
  width: 13px;
  height: 13px;
}

.ico-attribute-56 {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/icon/type-s59daeab27c.png')
    no-repeat 0 -430px;
  -webkit-background-size: 64px 574px;
  background-size: 64px 574px;
  width: 13px;
  height: 13px;
}

.ico-attribute-65 {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/icon/type-s59daeab27c.png')
    no-repeat 0 -446px;
  -webkit-background-size: 64px 574px;
  background-size: 64px 574px;
  width: 13px;
  height: 13px;
}

.ico-attribute-98 {
  display: block;
  background: url('https://prd-game-a-granbluefantasy.akamaized.net/assets/img/sp/ui/icon/type-s59daeab27c.png')
    no-repeat 0 -414px;
  -webkit-background-size: 64px 574px;
  background-size: 64px 574px;
  width: 13px;
  height: 13px;
}
.ico-attribute {
  position: absolute;
  bottom: 6px;
  right: 6px;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
